{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <input type="text" id="login" value="user1" />
    <textarea id="debug" cols="130" rows="10"></textarea>

    <input type="button" id="btn" value="Authenticate" onclick="authenticate()">
    <input type="button" id="btn" value="Enter Room General" onclick="enterRoom('general')">
    <input type="button" id="btn" value="Write COUCOU to ROOM" onclick="writeRoom('coucou')">


    <script>
        function writeRoom(message) {
            // send from socket a packet to write in a room in JSON
            let trame = {'type': 'writeRoom', 'message': message};
            socket.send(JSON.stringify(trame));
            document.getElementById('debug').value += "Message " + message + " sent...\n";
        }

        function enterRoom(room) {
            // send from socket a packet to enter in a room in JSON
            let trame = {'type': 'enterRoom', 'name': room};
            socket.send(JSON.stringify(trame));
            document.getElementById('debug').value += "Enter room " + room + " sent...\n";

        }


        function authenticate() {
            // send from socket a packet to auth in JSON
            let trame = { 'type' : 'auth' , 'login' : document.getElementById('login').value , 'password' : 'pass' };
            socket.send(JSON.stringify(trame));
            document.getElementById('debug').value += "Authentication sent...\n";


        }
        // connect with wss on wss://localhost
        const socket = new WebSocket('wss://localhost/ws/chat');
        socket.addEventListener('open', function (event) {
            // socket.send('Hello Server!');
            document.getElementById('debug').value += "WebSocket is connected...\n";
        });
        socket.addEventListener('message', function (event) {

            let data = event.data;
            if (data instanceof Blob) {
                let reader = new FileReader();
                reader.onload = function() {
                    let text = reader.result;
                    json = JSON.parse(text);

                    console.log(json);

                    if (json.type == 'message')
                    {
                        document.getElementById('debug').value += json.payload + "\n" ;
                    }

                    if (json.type == 'auth')
                    {
                        if (json.status == 'ok')
                        {
                            document.getElementById('debug').value += "Authentication successful\n";
                            // send a message to the server
                            document.title = json.login ;
                        }
                        else
                        {
                            document.getElementById('debug').value += "Authentication failed\n";
                        }
                    }

                    if (json.type == 'enterRoom')
                    {
                        if (json.status == 'ok')
                        {
                            document.getElementById('debug').value += "Entered room successfully\n";
                        }
                        else
                        {
                            document.getElementById('debug').value += "Failed to enter room\n";
                        }
                    }

                    if (json.type == 'writeRoom')
                    {
                        if (json.status == 'ok')
                        {
                            document.getElementById('debug').value += "Message sent to room successfully\n";
                        }
                        else
                        {
                            document.getElementById('debug').value += "Failed to send message to room\n";
                        }
                    }

                    if (json.type == 'messageRoom')
                    {
                        document.getElementById('debug').value += "Room " + json.name + " from " + json.from + " : " + json.payload + "\n";
                    }

                    if (json.type == 'listRoom')
                    {
                        //console.log(json);
                    }

                };
                reader.readAsText(data);
                return;
            }

        });


    </script>
</div>
{% endblock %}
