{
    skip_install_trust

    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	# Ensure our custom handler directive is ordered relative to others
	# order websocket before file_server
	websocket {
		address 127.0.0.1:5001 # Optional
		worker ./public/websocket-worker.php # Optional
		min_threads 5 # Optional, defaults to runtime.NumCPU()
	}
}

{$CADDY_EXTRA_CONFIG}

# {$SERVER_NAME:localhost}:80 si traefik devant et qu'on veux servir port 80

{$SERVER_NAME:localhost} {
	root * ./public
    # si on est derriere traefik et qu'on veux un autosigné
    tls internal

    route {
		handle_path /ws/* {
			route {
				websocket
			}
		}
		php_server
		file_server
	}
}
